* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header .inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 1360px;
}

.log {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 10px 10px 0 10px;
}

.log li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.log li a span {
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 10px;
  width: 1045px;
  margin-left: 460px;
} /*justify-content : end 빼니까 위로 올라감 어째서??????*/

.nav-item {
  list-style: none;
  margin: 10px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.brand {
  width: 126px;
}
